stages:
  - release
  - publish_github

variables:
  # Ensure git has enough history to compare changes
  GIT_DEPTH: "2"

package_and_publish:
  stage: release
  image: dtzar/helm-kubectl:latest  # Image that includes Helm, Git and Curl
  before_script:
    - apk add --no-cache curl git
  tags:
    - doks
  script:
    - |
      for dir in */; do
        dir=${dir%*/}          
        CHART_VERSION=$(grep '^version:' $dir/Chart.yaml | awk '{print $2}')
        CHART_NAME=$(grep '^name:' $dir/Chart.yaml | awk '{print $2}')
        TGZ_NAME="${CHART_NAME}-${VERSION}.tgz"
        HELM_REPO_URL="${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/api/stable/charts"

        helm package $dir 

        curl --request POST \
          --form "chart=@${TGZ_NAME}" \
          --user gitlab-ci-token:$CI_JOB_TOKEN \
          --write-out "%{http_code}" \
          --silent \
          --output /dev/null \
          "${HELM_REPO_URL}"
      done
      
  rules:
    - if: $CI_COMMIT_REF_NAME == "main" # Solo se ejecuta si es la rama 'main'
      when: always

publish_to_github_packages:
  stage: publish_github
  image: dtzar/helm-kubectl:latest
  tags:
    - doks
  before_script:
    - apk add --no-cache curl git
  script:
    - |      
      for dir in */; do
        dir=${dir%*/}        
        CHART_VERSION=$(grep '^version:' $dir/Chart.yaml | awk '{print $2}')
        CHART_NAME=$(grep '^name:' $dir/Chart.yaml | awk '{print $2}')
        TGZ_NAME="${CHART_NAME}-${CHART_VERSION}.tgz"
        
        helm registry login ghcr.io -u $GITHUB_USERNAME -p $GITHUB_BOT_TOKEN
        helm package $dir          
        helm push ${TGZ_NAME} oci://ghcr.io/${GITHUB_ORG}
      done
  rules:
    - if: $CI_COMMIT_REF_NAME == "main" # Solo se ejecuta si es la rama 'main'
      when: always
